scripts/flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<flowController encoding-version="1.3">
  <maxTimerDrivenThreadCount>10</maxTimerDrivenThreadCount>
  <maxEventDrivenThreadCount>5</maxEventDrivenThreadCount>
  <registries/>
  <rootGroup>
    <id>d347f265-0162-1000-bd0e-fbf9109cf0b1</id>
    <name>InfluxDB Demo</name>
    <position x="0.0" y="0.0"/>
    <comment/>
    <label>
      <id>01631000-efa4-184f-e581-a743d2fe812a</id>
      <position x="1151.566401798875" y="-208.0879260307986"/>
      <size height="170.00000762939453" width="416.8000030517578"/>
      <styles>
        <style name="font-size">12px</style>
      </styles>
      <value>Demo 3 User Story:
   

As NiFi user I want to store LineProtocol date into multiple environments
 - InfluxDB, InfluxDB 2.0, Kafka, ...</value>
    </label>
    <label>
      <id>684fefa4-0163-1000-542e-9343b5fa4f7f</id>
      <position x="1145.4612992598124" y="-407.1201983696658"/>
      <size height="170.00000762939453" width="416.8000030517578"/>
      <styles>
        <style name="font-size">12px</style>
      </styles>
      <value>Demo 2 User Story:
  

As NiFi user I want to reliably monitor multiple environments
and be able to write data selectively.


* AC1: Partition and route metrics data using NiFi "Record Path language"
   by type of measurement (name of container)
</value>
    </label>
    <label>
      <id>684e0d7d-0163-1000-c97e-dee22f4f649c</id>
      <position x="268.0609696699687" y="-600.9202250695664"/>
      <size height="561.7161407470703" width="471.0166015625"/>
      <styles>
        <style name="font-size">14px</style>
      </styles>
      <value>NiFi-InfluxDB  integration demo
=========================

This demo shows how InfluxDB can be integrated with the
NiFi data processing framework. To enable seamless 
integration we implemented following NiFi extensions:
  
* InfluxDatabaseService – more NiFi processors in flow can reuse one 
InfluxDB connection configuration (url, credentials)
  
* PutInfluxDatabaseRecord – processor that puts structured data 
(json, csv, text, avro) into InfluxDB using NiFi Record readers/writers. 
  
* InfluxLineProtocolReader – reader parses the InfluxDB Line Protocol 
into NiFi Record. This allows filtering, partitioning line protocol data in 
NiFi flow produced by Telegraf.
  
* InfluxLineProtocolRecordSetWriter – Writes the contents of a Record
Set as Line Protocol.</value>
    </label>
    <label>
      <id>684fe748-0163-1000-5da8-bd3ba0648cea</id>
      <position x="1145.261012394578" y="-596.720167086168"/>
      <size height="163.47393798828125" width="414.004150390625"/>
      <styles>
        <style name="font-size">12px</style>
      </styles>
      <value>Demo 1 User Story:


As NiFi user I want to put my data (complex json structure) to
InfluxDB in order to work with time series.
   * AC1: Count twitter messages, grouping by keywords and languages

</value>
    </label>
    <processGroup>
      <id>f84fd79f-0162-1000-c9dc-9ef8abe709be</id>
      <name>TwitterInfluxDBDemo</name>
      <position x="750.2611569191332" y="-602.1202333945846"/>
      <comment/>
      <processor>
        <id>e1be6989-0162-1000-597d-9480ca71dedb</id>
        <name>ErrorLog</name>
        <position x="52.29529011987802" y="-145.25662929638406"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.PutFile</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Directory</name>
          <value>/opt/nifi/influx-err</value>
        </property>
        <property>
          <name>Conflict Resolution Strategy</name>
          <value>fail</value>
        </property>
        <property>
          <name>Create Missing Directories</name>
          <value>true</value>
        </property>
        <property>
          <name>Maximum File Count</name>
        </property>
        <property>
          <name>Last Modified Time</name>
        </property>
        <property>
          <name>Permissions</name>
        </property>
        <property>
          <name>Owner</name>
        </property>
        <property>
          <name>Group</name>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
        <autoTerminatedRelationship>failure</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>d36329b4-0162-1000-eaf4-d9600c44b359</id>
        <name>GetTwitter</name>
        <position x="50.54593169940665" y="-727.0363180206975"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.twitter.GetTwitter</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-social-media-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Twitter Endpoint</name>
          <value>Filter Endpoint</value>
        </property>
        <property>
          <name>Consumer Key</name>
          <value>enc{cf9eabbd7487e222a956f69a1eb81bdd734303b69507201deb896ffe577bf2f821a8a63de54b073ba6a428f1ca1b7ad3}</value>
        </property>
        <property>
          <name>Consumer Secret</name>
          <value>enc{8409bf0a3c1186860d036b86482f111f4736d7ec7c1837bab8c411fe01deecc775f3843461169a83f74f53f626282379edb0dad0327fa721e88613000300d9add754ea90648877e62ede6f87c9c7336b}</value>
        </property>
        <property>
          <name>Access Token</name>
          <value>enc{85a3794348d2bcd8b6db888d955c54a9960232d568b6b7a0668c3307315265113ddcbd37f7467d9dced52499ce0853b8fdf2a155394e1ed71c62f129600f8898c8eddf125c5c290545f3d56975f34aff}</value>
        </property>
        <property>
          <name>Access Token Secret</name>
          <value>enc{0e789197ff549b4933285b323f656114d48c46fc1d5c28cb84456ff48bff22137de3c74ec136ef33f032a5bd800d557d3237013e7d78dfe2a2525d7566135bb4}</value>
        </property>
        <property>
          <name>Languages</name>
        </property>
        <property>
          <name>Terms to Filter On</name>
          <value>bitcoin,$btc,ethereum,$eth</value>
        </property>
        <property>
          <name>IDs to Follow</name>
        </property>
        <property>
          <name>Locations to Filter On</name>
        </property>
      </processor>
      <processor>
        <id>e1bafe5a-0162-1000-c7cb-1ddcffb38604</id>
        <name>PutInfluxDatabaseRecord</name>
        <position x="51.67434132837411" y="-426.4706543169834"/>
        <styles/>
        <comment/>
        <class>org.influxdata.nifi.processors.PutInfluxDatabaseRecord</class>
        <bundle>
          <group>org.influxdata.nifi</group>
          <artifact>nifi-influx-database-nar</artifact>
          <version>1.2-SNAPSHOT</version>
        </bundle>
        <maxConcurrentTasks>10</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>record-reader</name>
          <value>d764d87d-0162-1000-f939-e92ae75435c5</value>
        </property>
        <property>
          <name>influxdb-service</name>
          <value>392526d8-0163-1000-d02c-90f9ba5c41b0</value>
        </property>
        <property>
          <name>influxdb-dbname</name>
          <value>twitter_demo</value>
        </property>
        <property>
          <name>influxdb-enable-gzip</name>
          <value>false</value>
        </property>
        <property>
          <name>influxdb-log-level</name>
          <value>NONE</value>
        </property>
        <property>
          <name>influxdb-consistency-level</name>
          <value>ONE</value>
        </property>
        <property>
          <name>influxdb-retention-policy</name>
          <value>autogen</value>
        </property>
        <property>
          <name>influxdb-enable-batch</name>
          <value>false</value>
        </property>
        <property>
          <name>influxdb-batch-flush-duration</name>
          <value>1000 ms</value>
        </property>
        <property>
          <name>influxdb-batch-actions</name>
          <value>1000</value>
        </property>
        <property>
          <name>influxdb-batch-jitter-duration</name>
          <value>0 ms</value>
        </property>
        <property>
          <name>influxdb-batch-buffer-limit</name>
          <value>10000</value>
        </property>
        <property>
          <name>influxdb-measurement</name>
          <value>tweets</value>
        </property>
        <property>
          <name>influxdb-tags</name>
          <value>lang,keyword,user_verified</value>
        </property>
        <property>
          <name>influxdb-tags-field-behavior</name>
          <value>IGNORE</value>
        </property>
        <property>
          <name>influxdb-fields</name>
          <value>tweet_id,retweet_count,followers_count,friends_count,favourites_count,screen_name,text</value>
        </property>
        <property>
          <name>influxdb-fields-field-behavior</name>
          <value>IGNORE</value>
        </property>
        <property>
          <name>influxdb-timestamp-field</name>
          <value>timestamp</value>
        </property>
        <property>
          <name>influxdb-timestamp-precision</name>
          <value>MILLISECONDS</value>
        </property>
        <property>
          <name>influxdb-complex-field-behavior</name>
          <value>TEXT</value>
        </property>
        <property>
          <name>influxdb-null-behavior</name>
          <value>IGNORE</value>
        </property>
        <property>
          <name>influxdb-max-records-size</name>
          <value>1 MB</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
      </processor>
      <connection>
        <id>e1c02369-0162-1000-32d4-3703bdbf1397</id>
        <name/>
        <bendPoints>
          <bendPoint x="227.4869842529297" y="-515.0573425292969"/>
        </bendPoints>
        <labelIndex>0</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>d36329b4-0162-1000-eaf4-d9600c44b359</sourceId>
        <sourceGroupId>f84fd79f-0162-1000-c9dc-9ef8abe709be</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>e1bafe5a-0162-1000-c7cb-1ddcffb38604</destinationId>
        <destinationGroupId>f84fd79f-0162-1000-c9dc-9ef8abe709be</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>e1bff2f9-0162-1000-0379-8f80b039da58</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>e1bafe5a-0162-1000-c7cb-1ddcffb38604</sourceId>
        <sourceGroupId>f84fd79f-0162-1000-c9dc-9ef8abe709be</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>e1be6989-0162-1000-597d-9480ca71dedb</destinationId>
        <destinationGroupId>f84fd79f-0162-1000-c9dc-9ef8abe709be</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>failure</relationship>
        <relationship>failure-max-size</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>0694d941-0163-1000-c99f-90d011ee5171</id>
        <name/>
        <bendPoints>
          <bendPoint x="553.4887029006397" y="-385.16953737362405"/>
          <bendPoint x="547.3883305861866" y="-328.0653503619053"/>
        </bendPoints>
        <labelIndex>0</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>e1bafe5a-0162-1000-c7cb-1ddcffb38604</sourceId>
        <sourceGroupId>f84fd79f-0162-1000-c9dc-9ef8abe709be</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>e1bafe5a-0162-1000-c7cb-1ddcffb38604</destinationId>
        <destinationGroupId>f84fd79f-0162-1000-c9dc-9ef8abe709be</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>retry</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <controllerService>
        <id>392526d8-0163-1000-d02c-90f9ba5c41b0</id>
        <name>TwitterInfluxDBService</name>
        <comment/>
        <class>org.influxdata.nifi.services.StandardInfluxDatabaseService</class>
        <bundle>
          <group>org.influxdata.nifi</group>
          <artifact>nifi-influx-database-nar</artifact>
          <version>1.2-SNAPSHOT</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>inluxdb-ssl</name>
        </property>
        <property>
          <name>inluxdb-ssl-auth</name>
          <value>REQUIRED</value>
        </property>
        <property>
          <name>influxdb-url</name>
          <value>http://influxdb:8086</value>
        </property>
        <property>
          <name>influxdb-connection-timeout</name>
          <value>0 seconds</value>
        </property>
        <property>
          <name>influxdb-username</name>
        </property>
        <property>
          <name>influxdb-password</name>
        </property>
      </controllerService>
    </processGroup>
    <processGroup>
      <id>0d3a59b3-016b-1000-3219-73ec601dca9c</id>
      <name>KafkaDemo</name>
      <position x="754.0775756835938" y="-211.1091766357422"/>
      <comment/>
      <processor>
        <id>bd0efd4c-3086-3c99-dc9e-5811b2c3ca87</id>
        <name>TailFile</name>
        <position x="447.2941283146255" y="166.52926883734335"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.TailFile</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>tail-mode</name>
          <value>Single file</value>
        </property>
        <property>
          <name>File to Tail</name>
          <value>./logs/nifi-app.log</value>
        </property>
        <property>
          <name>Rolling Filename Pattern</name>
        </property>
        <property>
          <name>tail-base-directory</name>
        </property>
        <property>
          <name>Initial Start Position</name>
          <value>Beginning of File</value>
        </property>
        <property>
          <name>File Location</name>
          <value>Local</value>
        </property>
        <property>
          <name>tailfile-recursive-lookup</name>
          <value>false</value>
        </property>
        <property>
          <name>tailfile-lookup-frequency</name>
          <value>10 minutes</value>
        </property>
        <property>
          <name>tailfile-maximum-age</name>
          <value>24 hours</value>
        </property>
      </processor>
      <processor>
        <id>0d7ad789-016b-1000-952f-d20e18a0390b</id>
        <name>ErrorLog</name>
        <position x="1051.1138914982193" y="963.886468413549"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.PutFile</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Directory</name>
          <value>/opt/nifi/influx-err</value>
        </property>
        <property>
          <name>Conflict Resolution Strategy</name>
          <value>fail</value>
        </property>
        <property>
          <name>Create Missing Directories</name>
          <value>true</value>
        </property>
        <property>
          <name>Maximum File Count</name>
        </property>
        <property>
          <name>Last Modified Time</name>
        </property>
        <property>
          <name>Permissions</name>
        </property>
        <property>
          <name>Owner</name>
        </property>
        <property>
          <name>Group</name>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
        <autoTerminatedRelationship>failure</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>0da4cb96-016b-1000-471a-93377cc20d0d</id>
        <name>PublishKafka_0_10</name>
        <position x="1403.560119525563" y="662.185296538549"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-kafka-0-10-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>bootstrap.servers</name>
          <value>kafka:9092</value>
        </property>
        <property>
          <name>security.protocol</name>
          <value>PLAINTEXT</value>
        </property>
        <property>
          <name>sasl.kerberos.service.name</name>
        </property>
        <property>
          <name>kerberos-credentials-service</name>
        </property>
        <property>
          <name>sasl.kerberos.principal</name>
        </property>
        <property>
          <name>sasl.kerberos.keytab</name>
        </property>
        <property>
          <name>ssl.context.service</name>
        </property>
        <property>
          <name>topic</name>
          <value>nifi-log</value>
        </property>
        <property>
          <name>acks</name>
          <value>0</value>
        </property>
        <property>
          <name>kafka-key</name>
        </property>
        <property>
          <name>key-attribute-encoding</name>
          <value>utf-8</value>
        </property>
        <property>
          <name>message-demarcator</name>
        </property>
        <property>
          <name>max.request.size</name>
          <value>1 MB</value>
        </property>
        <property>
          <name>ack.wait.time</name>
          <value>5 secs</value>
        </property>
        <property>
          <name>max.block.ms</name>
          <value>5 sec</value>
        </property>
        <property>
          <name>partitioner.class</name>
          <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
        </property>
        <property>
          <name>compression.type</name>
          <value>none</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>8e439369-8abd-33e5-8251-df20a0c3a080</id>
        <name>Set schema.name = nifi-logs</name>
        <position x="1040.7052611271256" y="168.7992698634639"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-update-attribute-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Delete Attributes Expression</name>
        </property>
        <property>
          <name>Store State</name>
          <value>Do not store state</value>
        </property>
        <property>
          <name>Stateful Variables Initial Value</name>
        </property>
        <property>
          <name>canonical-value-lookup-cache-size</name>
          <value>100</value>
        </property>
        <property>
          <name>schema.name</name>
          <value>nifi-logs</value>
        </property>
      </processor>
      <processor>
        <id>9993347a-5fbd-1c2b-a6cf-829e9b16c88d</id>
        <name>PutInfluxDatabase</name>
        <position x="709.0254515568131" y="662.4194884330802"/>
        <styles/>
        <comment/>
        <class>org.influxdata.nifi.processors.PutInfluxDatabase</class>
        <bundle>
          <group>org.influxdata.nifi</group>
          <artifact>nifi-influx-database-nar</artifact>
          <version>1.2-SNAPSHOT</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>influxdb-dbname</name>
          <value>kafka_influxdb_demo</value>
        </property>
        <property>
          <name>influxdb-url</name>
          <value>http://influxdb:8086</value>
        </property>
        <property>
          <name>InfluxDB Max Connection Time Out (seconds)</name>
          <value>0 seconds</value>
        </property>
        <property>
          <name>influxdb-username</name>
        </property>
        <property>
          <name>influxdb-password</name>
        </property>
        <property>
          <name>influxdb-charset</name>
          <value>UTF-8</value>
        </property>
        <property>
          <name>influxdb-consistency-level</name>
          <value>ONE</value>
        </property>
        <property>
          <name>influxdb-retention-policy</name>
          <value>autogen</value>
        </property>
        <property>
          <name>influxdb-timestamp-precision</name>
        </property>
        <property>
          <name>influxdb-max-records-size</name>
          <value>1 MB</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>dfceea1c-016b-1000-b2ce-2d172775840b</id>
        <name>PutInfluxDatabase_2</name>
        <position x="232.64064489119914" y="661.9613344036944"/>
        <styles/>
        <comment/>
        <class>org.influxdata.nifi.processors.PutInfluxDatabase_2</class>
        <bundle>
          <group>org.influxdata.nifi</group>
          <artifact>nifi-influx-database-nar</artifact>
          <version>1.2-SNAPSHOT</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>influxdb-service</name>
          <value>dfd11fe1-016b-1000-a737-a6012f1304f1</value>
        </property>
        <property>
          <name>influxdb-bucket</name>
          <value>my-bucket</value>
        </property>
        <property>
          <name>influxdb-org</name>
          <value>my-org</value>
        </property>
        <property>
          <name>influxdb-timestamp-precision</name>
        </property>
        <property>
          <name>influxdb-enable-gzip</name>
          <value>false</value>
        </property>
        <property>
          <name>influxdb-log-level</name>
          <value>NONE</value>
        </property>
        <property>
          <name>influxdb-charset</name>
          <value>UTF-8</value>
        </property>
        <property>
          <name>influxdb-max-records-size</name>
          <value>1 MB</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>99933473-5fbd-1c2b-1678-b21f261c56f6</id>
        <name>ConvertRecord</name>
        <position x="1048.9378661075943" y="395.47481680222086"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.ConvertRecord</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>record-reader</name>
          <value>1bb1d190-8746-3f5b-c093-edce7fa003d3</value>
        </property>
        <property>
          <name>record-writer</name>
          <value>99933468-5fbd-1c2b-19a4-dd742b4530a2</value>
        </property>
        <property>
          <name>include-zero-record-flowfiles</name>
          <value>false</value>
        </property>
      </processor>
      <connection>
        <id>dfcf19c8-016b-1000-e323-ae40deca4ffd</id>
        <name/>
        <bendPoints>
          <bendPoint x="733.6111450195312" y="875.0322875976562"/>
        </bendPoints>
        <labelIndex>0</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>dfceea1c-016b-1000-b2ce-2d172775840b</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>0d7ad789-016b-1000-952f-d20e18a0390b</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>failure</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>9993347f-5fbd-1c2b-3854-9c3408748d94</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>99933473-5fbd-1c2b-1678-b21f261c56f6</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>9993347a-5fbd-1c2b-a6cf-829e9b16c88d</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>dfcf3302-016b-1000-50de-901254d75111</id>
        <name/>
        <bendPoints>
          <bendPoint x="332.96794591658977" y="861.9639589154132"/>
          <bendPoint x="418.41911779158977" y="873.2874452435382"/>
        </bendPoints>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>dfceea1c-016b-1000-b2ce-2d172775840b</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>dfceea1c-016b-1000-b2ce-2d172775840b</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>retry</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>ff1e4b87-4228-3a21-05f8-ebcbeaec9bf4</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>bd0efd4c-3086-3c99-dc9e-5811b2c3ca87</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>8e439369-8abd-33e5-8251-df20a0c3a080</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>dfcfc8bf-016b-1000-bd12-c3b58f52ab0f</id>
        <name/>
        <bendPoints>
          <bendPoint x="407.39166259765625" y="459.6017761230469"/>
        </bendPoints>
        <labelIndex>0</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>99933473-5fbd-1c2b-1678-b21f261c56f6</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>dfceea1c-016b-1000-b2ce-2d172775840b</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>99933475-5fbd-1c2b-e7b7-3718cf6b038a</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>8e439369-8abd-33e5-8251-df20a0c3a080</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>99933473-5fbd-1c2b-1678-b21f261c56f6</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>0da6623e-016b-1000-c50c-ff38a280e2c3</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>0da4cb96-016b-1000-471a-93377cc20d0d</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>0d7ad789-016b-1000-952f-d20e18a0390b</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>failure</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>0d7bac9c-016b-1000-8f39-f4667f6eb4ee</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>99933473-5fbd-1c2b-1678-b21f261c56f6</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>0d7ad789-016b-1000-952f-d20e18a0390b</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>failure</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>9993347e-5fbd-1c2b-e9aa-62ed6628b6f2</id>
        <name/>
        <bendPoints>
          <bendPoint x="659.1967772404068" y="712.8277831108146"/>
          <bendPoint x="719.8469847599381" y="603.0605711967521"/>
        </bendPoints>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>9993347a-5fbd-1c2b-a6cf-829e9b16c88d</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>9993347a-5fbd-1c2b-a6cf-829e9b16c88d</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>retry</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>0da60d67-016b-1000-fa3f-6c52c70f7a53</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>99933473-5fbd-1c2b-1678-b21f261c56f6</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>0da4cb96-016b-1000-471a-93377cc20d0d</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>0d7bd083-016b-1000-b4e2-03b0a13b70d3</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>9993347a-5fbd-1c2b-a6cf-829e9b16c88d</sourceId>
        <sourceGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>0d7ad789-016b-1000-952f-d20e18a0390b</destinationId>
        <destinationGroupId>0d3a59b3-016b-1000-3219-73ec601dca9c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>failure</relationship>
        <relationship>failure-max-size</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <controllerService>
        <id>e1d48f9f-ef95-3ac5-ada4-eaf3b250ff7c</id>
        <name>JsonRecordSetWriter</name>
        <comment/>
        <class>org.apache.nifi.json.JsonRecordSetWriter</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-record-serialization-services-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>Schema Write Strategy</name>
          <value>schema-name</value>
        </property>
        <property>
          <name>schema-cache</name>
        </property>
        <property>
          <name>schema-access-strategy</name>
          <value>schema-name</value>
        </property>
        <property>
          <name>schema-registry</name>
          <value>01fe7c27-dec5-320d-fcb4-f913797de2f8</value>
        </property>
        <property>
          <name>schema-name</name>
          <value>${schema.name}</value>
        </property>
        <property>
          <name>schema-version</name>
        </property>
        <property>
          <name>schema-branch</name>
        </property>
        <property>
          <name>schema-text</name>
          <value>${avro.schema}</value>
        </property>
        <property>
          <name>Date Format</name>
        </property>
        <property>
          <name>Time Format</name>
        </property>
        <property>
          <name>Timestamp Format</name>
        </property>
        <property>
          <name>Pretty Print JSON</name>
          <value>true</value>
        </property>
        <property>
          <name>suppress-nulls</name>
          <value>never-suppress</value>
        </property>
        <property>
          <name>output-grouping</name>
          <value>output-array</value>
        </property>
        <property>
          <name>compression-format</name>
          <value>none</value>
        </property>
        <property>
          <name>compression-level</name>
          <value>1</value>
        </property>
      </controllerService>
      <controllerService>
        <id>99933468-5fbd-1c2b-19a4-dd742b4530a2</id>
        <name>InfluxLineProtocolRecordSetWriter</name>
        <comment/>
        <class>org.influxdata.nifi.serialization.InfluxLineProtocolRecordSetWriter</class>
        <bundle>
          <group>org.influxdata.nifi</group>
          <artifact>nifi-influx-database-nar</artifact>
          <version>1.2-SNAPSHOT</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>influxdb-measurement</name>
          <value>nifi_logs</value>
        </property>
        <property>
          <name>influxdb-tags</name>
          <value>level,thread</value>
        </property>
        <property>
          <name>influxdb-tags-field-behavior</name>
          <value>IGNORE</value>
        </property>
        <property>
          <name>influxdb-fields</name>
          <value>class,message</value>
        </property>
        <property>
          <name>influxdb-fields-field-behavior</name>
          <value>IGNORE</value>
        </property>
        <property>
          <name>influxdb-timestamp-field</name>
          <value>timestamp</value>
        </property>
        <property>
          <name>influxdb-timestamp-precision</name>
          <value>NANOSECONDS</value>
        </property>
        <property>
          <name>influxdb-complex-field-behavior</name>
          <value>TEXT</value>
        </property>
        <property>
          <name>influxdb-null-behavior</name>
          <value>IGNORE</value>
        </property>
        <property>
          <name>influxdb-character-set</name>
          <value>UTF-8</value>
        </property>
      </controllerService>
      <controllerService>
        <id>1bb1d190-8746-3f5b-c093-edce7fa003d3</id>
        <name>GrokReader</name>
        <comment/>
        <class>org.apache.nifi.grok.GrokReader</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-record-serialization-services-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>schema-access-strategy</name>
          <value>schema-name</value>
        </property>
        <property>
          <name>schema-registry</name>
          <value>01fe7c27-dec5-320d-fcb4-f913797de2f8</value>
        </property>
        <property>
          <name>schema-name</name>
          <value>${schema.name}</value>
        </property>
        <property>
          <name>schema-version</name>
        </property>
        <property>
          <name>schema-branch</name>
        </property>
        <property>
          <name>schema-text</name>
          <value>${avro.schema}</value>
        </property>
        <property>
          <name>Grok Pattern File</name>
        </property>
        <property>
          <name>Grok Expression</name>
          <value>%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} \[%{DATA:thread}\] %{DATA:class} %{GREEDYDATA:message}</value>
        </property>
        <property>
          <name>no-match-behavior</name>
          <value>append-to-previous-message</value>
        </property>
      </controllerService>
      <controllerService>
        <id>dfd11fe1-016b-1000-a737-a6012f1304f1</id>
        <name>StandardInfluxDatabaseService_2</name>
        <comment/>
        <class>org.influxdata.nifi.services.StandardInfluxDatabaseService_2</class>
        <bundle>
          <group>org.influxdata.nifi</group>
          <artifact>nifi-influx-database-nar</artifact>
          <version>1.2-SNAPSHOT</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>inluxdb-ssl</name>
        </property>
        <property>
          <name>inluxdb-ssl-auth</name>
          <value>REQUIRED</value>
        </property>
        <property>
          <name>influxdb-url</name>
          <value>http://influxdb_v2:9999</value>
        </property>
        <property>
          <name>influxdb-connection-timeout</name>
          <value>0 seconds</value>
        </property>
        <property>
          <name>influxdb-token</name>
          <value>enc{38ece8557ea6acea222d6c7e9999d001d1a48528bb7b96fd356b492e6eae41c2}</value>
        </property>
      </controllerService>
      <controllerService>
        <id>01fe7c27-dec5-320d-fcb4-f913797de2f8</id>
        <name>AvroSchemaRegistry</name>
        <comment/>
        <class>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-registry-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>avro-reg-validated-field-names</name>
          <value>true</value>
        </property>
        <property>
          <name>nifi-logs</name>
          <value>{
"type": "record",
"name": "nifi_logs",
"fields": [
   { "name": "timestamp", "type" : {
        "type" : "long",
        "logicalType" : "timestamp-millis"
      } },
   { "name": "level", "type": "string" },
   { "name": "thread", "type": "string" },
   { "name": "class", "type": "string" },
   { "name": "message", "type": "string" },
   { "name": "stackTrace", "type": "string" }
  ]
}</value>
        </property>
      </controllerService>
    </processGroup>
    <processGroup>
      <id>4e5add98-0163-1000-37c6-a81f1b8d947e</id>
      <name>TelegrafDemo</name>
      <position x="751.4609832763672" y="-406.7202682495117"/>
      <comment/>
      <processor>
        <id>5ea1e9b1-0163-1000-d88e-eecbd44bb920</id>
        <name>LogAttribute</name>
        <position x="1484.7763744367746" y="394.6037145043457"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.LogAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Log Level</name>
          <value>info</value>
        </property>
        <property>
          <name>Log Payload</name>
          <value>false</value>
        </property>
        <property>
          <name>Attributes to Log</name>
          <value>container_name</value>
        </property>
        <property>
          <name>attributes-to-log-regex</name>
          <value>.*</value>
        </property>
        <property>
          <name>Attributes to Ignore</name>
        </property>
        <property>
          <name>attributes-to-ignore-regex</name>
        </property>
        <property>
          <name>Log prefix</name>
        </property>
        <property>
          <name>character-set</name>
          <value>UTF-8</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>5e62f804-0163-1000-18ea-70da8664cfd0</id>
        <name>PartitionRecord</name>
        <position x="1029.6731741842975" y="-116.33684730234859"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.PartitionRecord</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>record-reader</name>
          <value>4e5e71b8-0163-1000-1b27-632f18180d23</value>
        </property>
        <property>
          <name>record-writer</name>
          <value>4e5c0c97-0163-1000-54a6-5c1fd2473b42</value>
        </property>
        <property>
          <name>container_name</name>
          <value>/tags['container_name']</value>
        </property>
        <autoTerminatedRelationship>original</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>4e5db836-0163-1000-1118-1b4cbc65e367</id>
        <name>PutInfluxDatabaseRecord</name>
        <position x="476.58453369140625" y="394.30047607421875"/>
        <styles/>
        <comment/>
        <class>org.influxdata.nifi.processors.PutInfluxDatabaseRecord</class>
        <bundle>
          <group>org.influxdata.nifi</group>
          <artifact>nifi-influx-database-nar</artifact>
          <version>1.2-SNAPSHOT</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>record-reader</name>
          <value>4e5e71b8-0163-1000-1b27-632f18180d23</value>
        </property>
        <property>
          <name>influxdb-service</name>
          <value>4e5f049b-0163-1000-382d-fa0c6125d08d</value>
        </property>
        <property>
          <name>influxdb-dbname</name>
          <value>telegraf_nifi_demo</value>
        </property>
        <property>
          <name>influxdb-enable-gzip</name>
          <value>false</value>
        </property>
        <property>
          <name>influxdb-log-level</name>
          <value>NONE</value>
        </property>
        <property>
          <name>influxdb-consistency-level</name>
          <value>ONE</value>
        </property>
        <property>
          <name>influxdb-retention-policy</name>
          <value>autogen</value>
        </property>
        <property>
          <name>influxdb-enable-batch</name>
          <value>false</value>
        </property>
        <property>
          <name>influxdb-batch-flush-duration</name>
          <value>1000 ms</value>
        </property>
        <property>
          <name>influxdb-batch-actions</name>
          <value>1000</value>
        </property>
        <property>
          <name>influxdb-batch-jitter-duration</name>
          <value>0 ms</value>
        </property>
        <property>
          <name>influxdb-batch-buffer-limit</name>
          <value>10000</value>
        </property>
        <property>
          <name>influxdb-measurement</name>
          <value>measurement</value>
        </property>
        <property>
          <name>influxdb-tags</name>
          <value>tags</value>
        </property>
        <property>
          <name>influxdb-tags-field-behavior</name>
          <value>IGNORE</value>
        </property>
        <property>
          <name>influxdb-fields</name>
          <value>fields</value>
        </property>
        <property>
          <name>influxdb-fields-field-behavior</name>
          <value>IGNORE</value>
        </property>
        <property>
          <name>influxdb-timestamp-field</name>
          <value>timestamp</value>
        </property>
        <property>
          <name>influxdb-timestamp-precision</name>
          <value>NANOSECONDS</value>
        </property>
        <property>
          <name>influxdb-complex-field-behavior</name>
          <value>TEXT</value>
        </property>
        <property>
          <name>influxdb-null-behavior</name>
          <value>IGNORE</value>
        </property>
        <property>
          <name>influxdb-max-records-size</name>
          <value>1 MB</value>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>5e7b1a3d-0163-1000-92bd-215d0d973049</id>
        <name>RouteOnAttribute</name>
        <position x="1030.0520768019476" y="113.37669783795178"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.RouteOnAttribute</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Routing Strategy</name>
          <value>Route to Property name</value>
        </property>
        <property>
          <name>other_containers</name>
          <value>${container_name:equals('nifi'):not()}</value>
        </property>
        <property>
          <name>nifi_container</name>
          <value>${container_name:equals('nifi')}</value>
        </property>
      </processor>
      <processor>
        <id>4e6785e3-0163-1000-d555-63c86866c915</id>
        <name>ErrorLog</name>
        <position x="476.677001953125" y="610.3519897460938"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.PutFile</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Directory</name>
          <value>/opt/nifi/influx-err</value>
        </property>
        <property>
          <name>Conflict Resolution Strategy</name>
          <value>fail</value>
        </property>
        <property>
          <name>Create Missing Directories</name>
          <value>true</value>
        </property>
        <property>
          <name>Maximum File Count</name>
        </property>
        <property>
          <name>Last Modified Time</name>
        </property>
        <property>
          <name>Permissions</name>
        </property>
        <property>
          <name>Owner</name>
        </property>
        <property>
          <name>Group</name>
        </property>
        <autoTerminatedRelationship>success</autoTerminatedRelationship>
        <autoTerminatedRelationship>failure</autoTerminatedRelationship>
      </processor>
      <processor>
        <id>4e5b2c92-0163-1000-7a79-8d3988c15bdc</id>
        <name>ListenTelegraf</name>
        <position x="433.5194091796875" y="-116.39844131469727"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.ListenTCPRecord</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-standard-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <executionNode>ALL</executionNode>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Local Network Interface</name>
        </property>
        <property>
          <name>port</name>
          <value>6666</value>
        </property>
        <property>
          <name>max-size-socket-buffer</name>
          <value>1 MB</value>
        </property>
        <property>
          <name>max-number-tcp-connections</name>
          <value>2</value>
        </property>
        <property>
          <name>read-timeout</name>
          <value>10 seconds</value>
        </property>
        <property>
          <name>record-reader</name>
          <value>4e5d390f-0163-1000-cdc5-67622a91c9ab</value>
        </property>
        <property>
          <name>record-writer</name>
          <value>4e5c0c97-0163-1000-54a6-5c1fd2473b42</value>
        </property>
        <property>
          <name>reader-error-handling-strategy</name>
          <value>Transfer</value>
        </property>
        <property>
          <name>record-batch-size</name>
          <value>1</value>
        </property>
        <property>
          <name>ssl-context-service</name>
        </property>
        <property>
          <name>client-auth</name>
          <value>REQUIRED</value>
        </property>
      </processor>
      <connection>
        <id>5e7da2e1-0163-1000-c3c0-3365c5b4cb8b</id>
        <name/>
        <bendPoints>
          <bendPoint x="1484.6731741842975" y="-76.33684730234859"/>
          <bendPoint x="1484.6731741842975" y="-26.336847302348588"/>
        </bendPoints>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>5e62f804-0163-1000-18ea-70da8664cfd0</sourceId>
        <sourceGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>5e62f804-0163-1000-18ea-70da8664cfd0</destinationId>
        <destinationGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>failure</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>5e7b7a57-0163-1000-e9ad-2e2b7d47e16e</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>5e62f804-0163-1000-18ea-70da8664cfd0</sourceId>
        <sourceGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>5e7b1a3d-0163-1000-92bd-215d0d973049</destinationId>
        <destinationGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>4e685590-0163-1000-c399-4e6f531adf22</id>
        <name/>
        <bendPoints>
          <bendPoint x="931.5845336914062" y="434.30047607421875"/>
          <bendPoint x="931.5845336914062" y="484.30047607421875"/>
        </bendPoints>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>4e5db836-0163-1000-1118-1b4cbc65e367</sourceId>
        <sourceGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>4e5db836-0163-1000-1118-1b4cbc65e367</destinationId>
        <destinationGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>retry</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>ebeda35f-0168-1000-3a8c-4562f3635f1e</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>5e7b1a3d-0163-1000-92bd-215d0d973049</sourceId>
        <sourceGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>5ea1e9b1-0163-1000-d88e-eecbd44bb920</destinationId>
        <destinationGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>other_containers</relationship>
        <relationship>unmatched</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>ebece362-0168-1000-8c10-86a9855a0684</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>5e7b1a3d-0163-1000-92bd-215d0d973049</sourceId>
        <sourceGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>4e5db836-0163-1000-1118-1b4cbc65e367</destinationId>
        <destinationGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>nifi_container</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>4e67a216-0163-1000-2d31-ad4a2a120558</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>4e5db836-0163-1000-1118-1b4cbc65e367</sourceId>
        <sourceGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>4e6785e3-0163-1000-d555-63c86866c915</destinationId>
        <destinationGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>failure</relationship>
        <relationship>failure-max-size</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <connection>
        <id>5e63bdec-0163-1000-318b-fc5649bda14b</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>4e5b2c92-0163-1000-7a79-8d3988c15bdc</sourceId>
        <sourceGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>5e62f804-0163-1000-18ea-70da8664cfd0</destinationId>
        <destinationGroupId>4e5add98-0163-1000-37c6-a81f1b8d947e</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
        <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
        <partitioningAttribute/>
        <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
      </connection>
      <controllerService>
        <id>4e5d390f-0163-1000-cdc5-67622a91c9ab</id>
        <name>InfluxLineProtocolReader</name>
        <comment/>
        <class>org.influxdata.nifi.serialization.InfluxLineProtocolReader</class>
        <bundle>
          <group>org.influxdata.nifi</group>
          <artifact>nifi-influx-database-nar</artifact>
          <version>1.2-SNAPSHOT</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>line-protocol-character-set</name>
          <value>UTF-8</value>
        </property>
      </controllerService>
      <controllerService>
        <id>5e4bb7e4-0163-1000-c871-4f26729c7d2a</id>
        <name>JsonRecordSetWriter</name>
        <comment/>
        <class>org.apache.nifi.json.JsonRecordSetWriter</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-record-serialization-services-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <enabled>false</enabled>
        <property>
          <name>Schema Write Strategy</name>
          <value>schema-name</value>
        </property>
        <property>
          <name>schema-cache</name>
        </property>
        <property>
          <name>schema-access-strategy</name>
          <value>inherit-record-schema</value>
        </property>
        <property>
          <name>schema-registry</name>
        </property>
        <property>
          <name>schema-name</name>
          <value>${schema.name}</value>
        </property>
        <property>
          <name>schema-version</name>
        </property>
        <property>
          <name>schema-branch</name>
        </property>
        <property>
          <name>schema-text</name>
          <value>${avro.schema}</value>
        </property>
        <property>
          <name>Date Format</name>
        </property>
        <property>
          <name>Time Format</name>
        </property>
        <property>
          <name>Timestamp Format</name>
        </property>
        <property>
          <name>Pretty Print JSON</name>
          <value>false</value>
        </property>
        <property>
          <name>suppress-nulls</name>
          <value>never-suppress</value>
        </property>
        <property>
          <name>output-grouping</name>
          <value>output-array</value>
        </property>
        <property>
          <name>compression-format</name>
          <value>none</value>
        </property>
        <property>
          <name>compression-level</name>
          <value>1</value>
        </property>
      </controllerService>
      <controllerService>
        <id>4e5c0c97-0163-1000-54a6-5c1fd2473b42</id>
        <name>AvroRecordSetWriter</name>
        <comment/>
        <class>org.apache.nifi.avro.AvroRecordSetWriter</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-record-serialization-services-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>Schema Write Strategy</name>
          <value>avro-embedded</value>
        </property>
        <property>
          <name>schema-cache</name>
        </property>
        <property>
          <name>schema-access-strategy</name>
          <value>inherit-record-schema</value>
        </property>
        <property>
          <name>schema-registry</name>
        </property>
        <property>
          <name>schema-name</name>
          <value>${schema.name}</value>
        </property>
        <property>
          <name>schema-version</name>
        </property>
        <property>
          <name>schema-branch</name>
        </property>
        <property>
          <name>schema-text</name>
          <value>${avro.schema}</value>
        </property>
        <property>
          <name>compression-format</name>
          <value>NONE</value>
        </property>
        <property>
          <name>cache-size</name>
          <value>1000</value>
        </property>
        <property>
          <name>encoder-pool-size</name>
          <value>32</value>
        </property>
      </controllerService>
      <controllerService>
        <id>4e5e71b8-0163-1000-1b27-632f18180d23</id>
        <name>AvroReader</name>
        <comment/>
        <class>org.apache.nifi.avro.AvroReader</class>
        <bundle>
          <group>org.apache.nifi</group>
          <artifact>nifi-record-serialization-services-nar</artifact>
          <version>1.9.2</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>schema-access-strategy</name>
          <value>embedded-avro-schema</value>
        </property>
        <property>
          <name>schema-registry</name>
        </property>
        <property>
          <name>schema-name</name>
          <value>${schema.name}</value>
        </property>
        <property>
          <name>schema-version</name>
        </property>
        <property>
          <name>schema-branch</name>
        </property>
        <property>
          <name>schema-text</name>
          <value>${avro.schema}</value>
        </property>
        <property>
          <name>cache-size</name>
          <value>1000</value>
        </property>
      </controllerService>
      <controllerService>
        <id>4e5f049b-0163-1000-382d-fa0c6125d08d</id>
        <name>StandardInfluxDBService</name>
        <comment/>
        <class>org.influxdata.nifi.services.StandardInfluxDatabaseService</class>
        <bundle>
          <group>org.influxdata.nifi</group>
          <artifact>nifi-influx-database-nar</artifact>
          <version>1.2-SNAPSHOT</version>
        </bundle>
        <enabled>true</enabled>
        <property>
          <name>inluxdb-ssl</name>
        </property>
        <property>
          <name>inluxdb-ssl-auth</name>
          <value>REQUIRED</value>
        </property>
        <property>
          <name>influxdb-url</name>
          <value>http://influxdb:8086</value>
        </property>
        <property>
          <name>influxdb-connection-timeout</name>
          <value>0 seconds</value>
        </property>
        <property>
          <name>influxdb-username</name>
        </property>
        <property>
          <name>influxdb-password</name>
        </property>
      </controllerService>
    </processGroup>
    <controllerService>
      <id>d764d87d-0162-1000-f939-e92ae75435c5</id>
      <name>TwitterJSONReader</name>
      <comment/>
      <class>org.apache.nifi.json.JsonPathReader</class>
      <bundle>
        <group>org.apache.nifi</group>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <version>1.9.2</version>
      </bundle>
      <enabled>true</enabled>
      <property>
        <name>schema-access-strategy</name>
        <value>schema-text-property</value>
      </property>
      <property>
        <name>schema-registry</name>
      </property>
      <property>
        <name>schema-name</name>
        <value>${schema.name}</value>
      </property>
      <property>
        <name>schema-version</name>
      </property>
      <property>
        <name>schema-branch</name>
      </property>
      <property>
        <name>schema-text</name>
        <value>{
  "type": "record",
  "name": "twitter_schema",
  "namespace": "io.bonitoo.nifi",
  "doc:" : "AVRO scheme for Tweets",
  "fields": [
    {
      "name": "id",
      "type": "long"
    },
    {
      "name": "text",
      "type": "string"
    },
    {
      "name": "lang",
      "type": "string"
    },
    {
      "name": "keyword",
      "type": "string"
    },
    {
      "name": "retweet_count",
      "type": "int"
    },
    {
      "name": "tweet_id",
      "type": "string"
    },
    {
      "name": "followers_count",
      "type": "int"
    },
    {
      "name": "screen_name",
      "type": "string"
    },
    {
      "name": "friends_count",
      "type": "int"
    },
    {
      "name": "favourites_count",
      "type": "int"
    },
    {
      "name": "user_verified",
      "type": "boolean"
    },
    {
      "name": "timestamp",
      "type" : {
        "type" : "long",
        "logicalType" : "timestamp-millis"
      }
    }
  ]
}</value>
      </property>
      <property>
        <name>Date Format</name>
      </property>
      <property>
        <name>Time Format</name>
      </property>
      <property>
        <name>Timestamp Format</name>
        <value>EEE MMM dd HH:mm:ss ZZZZZ yyyy</value>
      </property>
      <property>
        <name>user_verified</name>
        <value>$.user.verified</value>
      </property>
      <property>
        <name>favourites_count</name>
        <value>$.user.favourites_count</value>
      </property>
      <property>
        <name>keyword</name>
        <value>$.entities.hashtags[0].text</value>
      </property>
      <property>
        <name>timestamp</name>
        <value>$.created_at</value>
      </property>
      <property>
        <name>followers_count</name>
        <value>$.user.followers_count</value>
      </property>
      <property>
        <name>screen_name</name>
        <value>$.user.screen_name</value>
      </property>
      <property>
        <name>friends_count</name>
        <value>$.user.friends_count</value>
      </property>
      <property>
        <name>text</name>
        <value>$.text</value>
      </property>
      <property>
        <name>retweet_count</name>
        <value>$.retweet_count</value>
      </property>
      <property>
        <name>id</name>
        <value>$.id</value>
      </property>
      <property>
        <name>lang</name>
        <value>$.lang</value>
      </property>
      <property>
        <name>tweet_id</name>
        <value>$.id_str</value>
      </property>
    </controllerService>
    <template encoding-version="1.2">
    <description/>
    <id>1db98c35-40c6-4be8-82bb-695f1fc8fec6</id>
    <name>Twitter</name>
    <snippet>
        <connections>
            <id>41467289-fb0e-3d07-0000-000000000000</id>
            <parentGroupId>a002184c-7cce-3568-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>a002184c-7cce-3568-0000-000000000000</groupId>
                <id>a8991a21-2983-3e20-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>a002184c-7cce-3568-0000-000000000000</groupId>
                <id>e0c6ebeb-b96c-33a4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>a8991a21-2983-3e20-0000-000000000000</id>
            <parentGroupId>a002184c-7cce-3568-0000-000000000000</parentGroupId>
            <position>
                <x>691.6084365940947</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Group</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/opt/nifi/put-err/</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <restricted>true</restricted>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>e0c6ebeb-b96c-33a4-0000-000000000000</id>
            <parentGroupId>a002184c-7cce-3568-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.9513284178629817</y>
            </position>
            <bundle>
                <artifact>nifi-social-media-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Consumer Key</key>
                        <value>
                            <name>Consumer Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                        <value>
                            <name>Consumer Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>
                            <name>Access Token</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>
                            <name>Languages</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                        <value>
                            <name>IDs to Follow</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>
                            <name>Twitter Endpoint</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                        <value>
                            <name>Locations to Filter On</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>
                            <name>Terms to Filter On</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                        <value>
                            <name>Access Token Secret</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Consumer Key</key>
                        <value>KVhlDosQLy1tsNivcSKFSgKgW</value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>98869084-C45s9NSDcQcSQ5vC9nKDfdaNw2Pt55GG1GrrJ9yCL</value>
                    </entry>
                    <entry>
                        <key>Languages</key>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                    </entry>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>Filter Endpoint</value>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>nifi,hadoop,hortonworks,elasticsearch</value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <deprecated>false</deprecated>
            <name>GetTwitter</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <restricted>false</restricted>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.twitter.GetTwitter</type>
        </processors>
    </snippet>
    <timestamp>04/17/2018 12:13:51 UTC</timestamp>
</template>
  </rootGroup>
  <controllerServices/>
  <reportingTasks/>
</flowController>
